@import url('animation.css');


header {
    background-color: var(--color-primary);
    height: 100vh;
    width: 100%;

    position: relative;
    z-index: 2;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5rem;
}

header nav .links ul {
    display: flex;
}

header nav .links a {
    color: var(--color-text);
    margin-right: 1.7rem;
    transition: 0.2s;
    font-size: 0.9rem;
    font-weight: 700;
}

header nav .links a:hover {
    text-decoration: underline;
}







.btn-mobile {
    display: none;
    margin-left: 1rem;
    cursor: pointer;
}

.btn-mobile .btn-mobile-line {
    width: 30px;
    height: 5px;
    background-color: var(--color-text);
}

.btn-mobile .btn-mobile-line:not(:last-child) {
    margin-bottom: 0.3rem;
}






header nav .menu-mobile {
    background-color: #0000004f;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    bottom: 0;
    display: none;
    transition: 0.5s;
}

header nav .menu-mobile.active {
    display: block;
}

header nav .menu-mobile .menu-mobile-area {
    background-color: white;
    position: absolute;
    right: 0;
    height: 100%;
    width: 20rem;
    padding: 1.8rem 4rem 1.8rem 1.8rem;
    border-radius: 0.5rem 0 0 0.5rem;
    display: none;
    animation: fade-right 0.5s alternate;
    transition: 0.5s;
}

header nav .menu-mobile .menu-mobile-area.active {
    display: block;
}

header nav .menu-mobile .menu-mobile-head {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;

    border-bottom: 1px solid #ebedef;
    position: relative;
}

header nav .menu-mobile .menu-mobile-head .menu-mobile-head-icon {
    position: absolute;
    right: -2rem;
    font-size: 1.4rem;
    cursor: pointer;
}









header nav .menu-mobile .menu-mobile-body {
    margin-top: 1rem;
    margin-bottom: 6rem;
}

header nav .menu-mobile .menu-mobile-body ul li a {
    display: block;
    padding: 0.9rem;
    color: var(--color-dark);
    transition: 0.2s all;
    font-size: 0.9rem;
    border-radius: 0.8rem;
}

header nav .menu-mobile .menu-mobile-body ul li a:hover {
    background-color: #f6f6f6;
    color: var(--color-primary);
}

header nav .menu-mobile .menu-mobile-body ul li a.active {
    background-color: #F6F6F6;
    color: var(--color-primary);
}

header nav .menu-mobile .menu-mobile-body ul li a i {
    margin-left: 0.3rem;
}







header nav .menu-mobile .menu-mobile-btn .btn-blue a {
    font-size: 0.8rem;
    width: 100%;
    padding: 0.8rem 3.5rem;
}







header .home .home-img {
    position: absolute;
    bottom: 0rem;
    z-index: -1;
}

header .home .home-img img {
    max-width: 100vw;
    width: 100%;
    object-fit: cover;
}

header .home-text {
    width: 100%;
    text-align: center;
    margin-top: 6rem;
    color: var(--color-text);
}

header .home-text .home-text-title h2 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}

header .home-text .home-text-title p {
    width: 700px;
    margin: auto;
    line-height: 1.7rem;
}

header .home-text .home-text-btns {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

header .home-text .home-text-btns .btn-white {
    margin-right: 1rem;
}

header .home-text .home-text-btns .btn-white a,
header .home-text .home-text-btns .btn-dark a {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

header .home-text .home-text-btns .btn-white a:hover {
    color: var(--color-primary);
}